{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

{{- $rustArch := "unsupported" -}}
{{- if eq .chezmoi.arch "amd64" -}}
{{-   $rustArch = "x86_64" -}}
{{- else if eq .chezmoi.arch "arm64" -}}
{{-   $rustArch = "aarch64" -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
{{- if $interactive }}
name = {{ promptString "name" | quote }}
email = {{ promptString "email" | quote }}
{{- end }}
rustArch = {{$rustArch | quote}}
