[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[core]
	editor = code --wait
	autocrlf = input
[pull]
	rebase = false
[init]
	defaultBranch = main
