{{- if .vscode_remote -}}
#!/bin/sh
git clone https://github.com/zsh-users/antigen.git "$HOME/antigen"
curl -fsSL https://starship.rs/install.sh | sh -s -- --yes --bin-dir "$HOME/.local/bin"
{{- end -}}
