layout {
    default_tab_template {
        pane size=1 {
            plugin location="tab-bar"
        }
        children
        pane size=1 {
            plugin location="status-bar"
        }
    }

    tab name="Editor" {
        pane command="zellij-editor"
    }

    tab name="Git" {
        pane command="zellij-gitui"
    }

    tab name="Terminal"
}

session_serialization false
